<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Flask</title>
</head>
<body>
    <nav>
        <ul>
            <!-- Когда Flask видит эти две открывающиеся фигурные скобки, он понимает, что на самом деле внутри них находится какой-то код.
Что мы делаем, так это вызываем функцию url_for(), которая ищет представление с именем index() или представление с именем about(), а затем вставляет некоторый текст, который является фактическим корнем. -->
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('career') }}">Career</a></li>
            <!-- Когда Flask видит эти две открывающиеся фигурные скобки, он понимает, что на самом деле внутри них находится какой-то код.
Что мы делаем, так это вызываем функцию url_for(), которая ищет представление с именем index() или представление с именем about(), а затем вставляет некоторый текст, который является фактическим корнем. -->
        </ul>
    </nav>
    <!-- content это произвольное имя, если таких блоков несколько каждый называется по разному чтоб было понятно где какой -->
    {% block content %}
    {% endblock %}
    <!-- Здесь мы определяем блок или область, в которую мы можем вводить контент.
с других страниц. -->
</body>
</html>